<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p><b>E-mail:</b> <a href="maito: subramanyam.r.2001@gmail.com">subramanyam.r.2001@gmail.com</a></p>
    <p><b>GitHub:</b> <a href="https://github.com/Subramanyam-r">https://github.com/Subramanyam-r</a></p>
    <p><b>Discord:</b> Breeze#2510</p>
    <p><b>My other project:</b> <a href="https://paymateindia.herokuapp.com">PayMate</a> | A Responsive basic banking website</p>
<%- include("partials/footer"); -%>
